<div>
    <p *ngIf="!milestone"><em>Loading...</em></p>

    <div *ngIf="milestone" class="widget">
        <div class="title truncated-text-ellipsis">{{ milestone }} - By Assignee</div>
        <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"></canvas>
        </div>
    </div>
</div>